# Eclipse
.classpath
.project
.settings/

# STS
.factorypath
 
# Intellij
.idea/
*.iml
*.iws
 
# Mac
.DS_Store
 
# Maven
log/
target/

# Application.properties
src/main/resources/application.properties